{% extends "base.html" %}

{% load crispy_forms_tags %}
{{ form.media }}

{% block content %}
<div class="container bg-opacity form_bg">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{form.first_name|as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.last_name|as_crispy_field}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{form.booking_date|as_crispy_field}}
      </div>
      <div class="col-6">
        {{form.booking_ToD|as_crispy_field}}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        {{form.number_of_guests|as_crispy_field}}
      </div>
      <div class="col-2">
        {{form.booking_reference|as_crispy_field}}
      </div>
      <div class="col-8">
        {{form.phone_number | as_crispy_field}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{form.special_request|as_crispy_field}}
      </div>
    </div>
    <input type="submit" name="submit" class="btn-primary btn-block">
  </form>
</div>


{% endblock %}