{% extends "base.html" %}


{% block content %}

<div class="container booking_options">
    <div>
        <button type="button" class="btn btn-light btn-lg btn-block border-dark"><a href="{% url 'table_booking' %}">Create a booking</a></button>
        <button type="button" class="btn btn-light btn-lg btn-block border-dark"><a href="{% url 'booking_search_update' %}">Update a booking</a></button>
        <button type="button" class="btn btn-light btn-lg btn-block border-dark"><a href="{% url 'booking_search_delete' %}">Delete a booking</a></button>
    </div>
</div>

{% endblock %}