{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-9 text-center">
            <div class="jumbotron">
                <h3 class="display-4 text-center">Welcome To Giuseppe's Pizzeria</h3>
                <p class="lead">Giuseppe's Pizzeria is a Takeaway/Resurant Pizzeria. Here we will provide the best pizza's in the UK,
                    We're dedicated to providing you the best of takeaway and dine in expeinces, with a focus on dependability and great Pizza.
                    We're working to turn our passion for Pizza into a booming online website. 
                    We hope you enjoy our Pizza as much as we enjoy offering them to you.</p>
                <p>Thanks For Visiting Our Site</p>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <p class="text-center">Opening Times</p>
                <ul class="lead list-group align-items-center">
                    <li>Mon: 11:30 - 10:00</li>
                    <li>Tue: 11:30 - 10:00</li>
                    <li>Wed: 11:30 - 10:00</li>
                    <li>Thu: 11:30 - 10:00</li>
                    <li>Fri: 11:30 - 10:00</li>
                    <li>Sat: 11:30 - 10:00</li>
                    <li>Sun: 11:30 - 07:00</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center card banner">            
            <h2>MENU:</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6">
            <div>
                <a href="" download="media/italiano.png"> 
                    <img src="https://res.cloudinary.com/dkpchnxiu/image/upload/c_fill/v1647605683/GiuseppesImages/Italiano_fbtrvo.png" alt="main menu of Resurant">
                </a>
            </div>
        </div>
        <div class="col-6">
            <div>
                <img src="https://res.cloudinary.com/dkpchnxiu/image/upload/v1647605334/GiuseppesImages/drinks_menu_wzgqsz.png" alt="drinks menu of Resurant">
            </div>
        </div>
    </div>
</div>
{% endblock %}